# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

#cmake
CMakeLists.txt
cmake-build-debug

# catch
catch.hpp
test.cpp
test

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
Project_3.xcodeproj
